{% extends 'base.html' %}
{% block title %}Orders{% endblock %}

{% block content %}
<h2>Cart</h2>
<ul>
    {% for item in items %}
    <p>
    <li> Product: {{item.product}} </li>
    <li> Pharmacy: {{item.pharmacy}}</li>
    <li> Unit Price: &euro; {{item.unit_price}}</li>
    <li> Quantity: {{item.quantity}}</li>
    <a href="{% url 'item_delete' item.pk %}">
        <button type="button" class="btn btn-default btn-danger" type="submit">Delete</button>
    </a>
    </p>    
    {% endfor %}
</ul>
<ul>
    <a href="{% url 'place_orders' %}">
        <button type="button" class="btn btn-default btn-succes" type="submit">Place Orders</button>
    </a>
</ul>
{% endblock %}