{% extends 'base.html' %}


{% block title %}Edit profile{% endblock %}

{% block content %}
<section class="container-fluid edit_home">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 eh_block">
            <a href="{% url 'edit' %}" class="eh_text">
                <div class="row">
                    <div class="col-12 eh_user"></div>
                    <div class="col-12"><h1>Edit Profile</h1></div>
                </div>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col-4 eh_block">
            <a href="{% url 'change-password' %}" class="eh_text">
                <div class="row">
                    <div class="col-12 eh_lock"></div>
                    <div class="col-12"><h1>Edit Password</h1></div>
                </div>
            </a>
        </div>
        <div class="col-1"></div>
    </div>
</section>
{% endblock %}