{% extends 'base.html' %}
{% block title %}Orders{% endblock %}

{% block content %}
<section class="container-fluid">
    <h1>Open Orders</h1>
    <div class="row" style="text-align: center;">
        <div class="col">
            <h5>Product: </h5>
        </div>
        <div class="col">
            <h5>Pharmacy: </h5>
        </div>
        <div class="col">
            <h5>Total Price: </h5>
        </div>
        <div class="col">
            <h5>Date:</h5>
        </div>
        <div class="col">
            <h5>Delete:</h5>
        </div>
    </div>
    <hr>
    {% for order in orders %}
        {% if order.filled == False %}
        <div class="row" style="text-align: center;">
            <div class="col">
                <p>{{order.product}}</p>
            </div>
            <div class="col">
                {{order.pharmacy}}
            </div>
            <div class="col">
                € {{order.total_price}}
            </div>
            <div class="col">
                {{order.created}}
            </div>
            <div class="col">
                <a href="{% url 'order_delete' order.pk %}">
                    <button type="button" class="btn btn-sm btn-danger" type="submit">Delete</button>
                </a>
            </div>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
<br><br>



    <h1>Filled Orders</h1>
    <div class="row" style="text-align: center;">
        <div class="col">
            <h5>Product: </h5>
        </div>
        <div class="col">
            <h5>Pharmacy: </h5>
        </div>
        <div class="col">
            <h5>Total Price: </h5>
        </div>
        <div class="col">
            <h5>Date:</h5>
        </div>
    </div>
    <hr>
    {% for order in orders %}
    {% if order.filled == True %}
        <div class="row" style="text-align: center;">
            <div class="col">
                <p>{{order.product}}</p>
            </div>
            <div class="col">
                {{order.pharmacy}}
            </div>
            <div class="col">
                € {{order.total_price}}
            </div>
            <div class="col">
                {{order.created}}
            </div>
        </div>
        <hr>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}