{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<section class="profile_background">
    <div class="container-fluid" style="margin-top: 70px;" >
        <div class="row-6 row-centered">
                <div class="col-xl-6 offset-lg-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center col-centered profile_left_col">
                        <img src="../../static/media/Profile/men_avatar.png" style="border-radius: 50%; margin-top: 10px; margin-bottom: 10px;">
                     <h2>@{{ user }}</h2>
                    </div>
                <div class="w-100"></div>
                <div class="col-xl-6 offset-lg-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-centered profile_right_col">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 profile_title">
                        <p>First name:</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 profile_description">
                        <p>{{ user.first_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 profile_title">
                        <p>Last name:</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 profile_description">
                        <p>{{ user.last_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile_title">
                        <p>Email:</p>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 profile_description">
                        <p>{{ user.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 profile_title">
                        <p>Phone number:</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 profile_description">
                        <p>{{ user.profile.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 profile_title">
                        <p>Address:</p> 
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 profile_description">
                        <p>{{ user.profile.address }}</p>  
                    </div>
                </div>  
                </div>
        </div>

    </div>
</section>
{% endblock %}