{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login_background">
    <section class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="login_card">
                    <h1> Phone Verification </h1>
                    <p>Please type the 4 digit code sent to </p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" class="btn btn-dark">Sign in</button>
                    </form>
                    <hr>
                    <h1>Didn't get one?</h1>
                    <p>Verifiy that you typed the right phone number</p>
                    <br>
                    <a href="{% url 'phone_verification' %}" style="color: white; "class="btn btn-dark">Verify</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}