/* GENERAL */
h2 {
    color:blue;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    
}

.green {
    color: darkgreen;
}

/* HEADER */
header {
    margin-bottom: 20px;
    overflow: hidden;
    background: #66ffcc;
}

header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase; 
}

header::after {
    content: '';
    display: table;
    clear: both;
        
}


header nav {
    float: right;
    
}

header ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}



