/* GENERAL */
h2 {
    color:green;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    
}

.green {
    color: green;
}

/* HEADER */
header {
    margin-bottom: 20px;
    overflow: hidden;
    background: #66ffcc;
}

header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px; 
    font-weight: bold;
    text-transform: uppercase;    
}

header::after {
    content: '';
    display: table;
    clear: both;
        
}


/* LOGO HEADER

The next css code is for the logo on the header menu */
.logo {
    float: left;
}

header a:visited {
    color: black;
}

header a:active {
    color: black;
}





/*NAV BAR HEADER

 The next css code is all for the nav bar on the header menu*/


header nav {
    float: right;
    
}

header ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
    position: relative;
    
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color:dimgray;
}

header nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: dimgray;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

header nav ul li a:hover::before {
    width: 100%;
    
}



