{% extends 'base.html' %}
{% block title %}Orders{% endblock %}

{% block content %}
<h2>Orders</h2>
<ul>
    <h1>Open Orders</h1>
    {% for order in orders %}
    <p>
    {% if order.filled == False %}
    <li> First name: {{order.first_name}} </li>
    <li> Last name: {{order.last_name}}</li>
    <li> email: {{order.email}}</li>
    <li> address: {{order.address}}</li>
    <li> Postal Code: {{order.postal_code}}</li>
    <li> City: {{order.city}}</li>
    <li> Product: {{order.product}}</li>
    <li> Quantity: {{order.quantity}}</li>
    <li> Unit Price: &euro; {{order.unit_price}}</li>
    <li> Total Price: &euro; {{order.total_price}}</li>
    <li> Order time: {{order.created}}</li>
    <a href="{% url 'pharmacies:order_delete' order.pk %}">
        <button type="button" class="btn btn-default btn-danger" type="submit">Delete Order</button>
    </a>
    <a href="{% url 'pharmacies:confirm_order' order.pk %}">
        <button type="button" class="btn btn-default btn-succes" type="submit">Confirm Order</button>
    </a>
    {% endif %}
    </p>    
    {% endfor %}
</ul>
<ul>
    <h1>Filled Orders</h1>
    {% for order in orders %}
    <p>
    {% if order.filled == True %}
    <li> First name: {{order.first_name}} </li>
    <li> Last name: {{order.last_name}}</li>
    <li> email: {{order.email}}</li>
    <li> address: {{order.address}}</li>
    <li> Postal Code: {{order.postal_code}}</li>
    <li> City: {{order.city}}</li>
    <li> Product: {{order.product}}</li>
    <li> Quantity: {{order.quantity}}</li>
    <li> Unit Price: &euro; {{order.unit_price}}</li>
    <li> Total Price: &euro; {{order.total_price}}</li>
    <li> Order time: {{order.created}}</li>
    {% endif %}
    <a href="{% url 'pharmacies:order_delete' order.pk %}">
        <button type="button" class="btn btn-default btn-danger" type="submit">Delete Order</button>
    </a>
    </p>
    {% endfor %}
</ul>
{% endblock %}