{% extends 'base.html' %}
{% block title %}Search results{% endblock %}

{% block content %}
<section class="container-fluid" style="padding-top: 80px;">
    <h1>Search Results</h1>
    <p>
    {% if num_results == 1 %}
    1 result for {{ query }} in {{ time }} seconds.
    {% else %}
    {{ num_results }} results for {{ query }} in {{ time }} seconds.
    {% endif %}
    </p>
    <div class="row">
        {% for pharmacy in results %}
            <div class="col-1"></div>
            <div class="col-lg-2 col-md-10 search_card">
                <a id="search_result" href= "{% url 'pharmacies:pharmacy' pk=pharmacy.pk %}">
                    <h4>{{pharmacy.name}}</h4>
                    <div class="row search_row">
                        <div class="col-3 search_map"></div>
                        <div class="col-9 search-text"><p>{{pharmacy.address}}</p></div>
                    </div>
                    <br>
                    <div class="row search_row">
                        <div class="col-3 search_phone"></div>
                        <div class="col-9 search-text"><p>{{pharmacy.phone_number}}</p></div>
                    </div>
                </a> 
            </div>
            <div class="col-1"></div>
         {% endfor %}
    </div>
</section>

{% endblock %}