{% extends 'base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
<h2>Available Products</h2>
<ul>
    <h1> {{product.name}} </h1>
    <h4> {{product.category}} </h4>
    <img src= "{{ product.image }}">
    <li> Available: {{product.available}} </li>
    <li> Description: {{product.description}} </li>
    {% for entry in entries %}
    <h4> {{entry.pharmacy}} </h4>
    <li> Stock: {{entry.product_stock}}</li>
    <li> Price: &euro; {{entry.product_price}}</li>
    {% endfor %}
</ul>
{% endblock %}