{% extends 'base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
<h2>Available Products</h2>
<ul>
    {% for product in products_list %}
    <h1> {{product.name}} </h1>
    <h4> {{product.category}} </h4>
    <img src= "{{ product.image }}">
    <li> Price: &euro; {{product.price}} </li>
    <li> Stock: {{product.stock}} </li>
    <li> Available: {{product.available}} </li>
    <li> Description: {{product.description}} </li>
    <a href="{{ product.get_absolute_url }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">details</a>
    {% endfor %}
</ul>
{% endblock %}