{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href='../static/css/styles.css'>
    <meta charset="utf-8">
    <title>{% block title %}Towima pharma service{% endblock %}</title>   
  </head>
  <body>
    <header>
        <div class="wrapper">
                <a href="{% url 'home' %}">
                    <div class=logo>
                    <h1><span class=green>Pharma</span>towi</h1>
                    </div>
                </a>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    {% if user.is_authenticated %}
                        <li> <a href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'signup' %}">signup</a></li>
                    {% endif %}
                </ul>
            </nav>            
        </div>
    </header>
      
    
    
      
      
    <footer>
        
    </footer>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>