


{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="home">
            <div class="landing-text">
                <h1>PHARMATOWI</h1>
                <h3>Online platform to order and connect with you local pharmacies</h3>
                <a href="{% url 'signup' %}">Sign Up Now</a>
            </div>
    </div>

    <!-- Three responsive columns divided equally over the entire width. 
         It always has to add up to 12 -->
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 localpharmacy">
                        <div class="three-columns">
                            <h4>Find your local pharmacie</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 localpharmacy1">
                        <div class="three-columns">
                            <h4>Order your products</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 localpharmacy2">
                        <div class="three-columns">
                            <h4>Discuss with your pharmacist</h4>
                        </div>
                    </div>
            </div>
        </div>


    
    <div id="fixed"> 
    </div>

    <div class="container-fluid">
        <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vitae arcu tempor neque lacinia pretium. Suspendisse nisl. Nam sed tellus id magna elementum tincidunt. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Proin mattis lacinia justo. Praesent dapibus. Mauris metus. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum fermentum tortor id mi.

        </p>
    </div>
  
{% endblock %}