{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="home">
            <div class="landing-text">
                <h1>PHARMATOWI</h1>
                <h3>An online platform to order and connect with your local pharmacies</h3>
            </div>
    </div>
    <div class="btn_transition">
        <a href="#our_mission" class="btn2 scrollLink">Learn More</a>
    </div>
<br><br><br><br><br><br><br><br>
<div class="container-fluid mission" id="our_mission" style="padding-top: 20px; min-height: 300px;">
    <h1 style="font-weight: bold">Our Mission</h1>
    <div class="row">
        <div class="col-8">
            <p>Our goal is to close the gap between customers and their pharmacists. We try to achieve this by speeding up the process of ordering and communicating between one another. By doing this, customers don't have to wait at the pharmacy anymore and pharmacists can speed up their workflow.  </p>
        </div>
        <div class="col-4 about_us_img">
        </div>
        
    </div>
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col tab1">
            
        </div>
        <div class="col tabs_text">
            <h2>Order</h2>
            <p>Place your order online and get notified when it's ready!</p>
        </div> 
    </div> 
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col tab2">
            
        </div>
        <div class="col tabs_text">
            <h2>Talk</h2>
            <p>Talk to your pharmacist and get some advice.</p>
        </div> 
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col tab3">
            
        </div>
        <div class="col tabs_text">
            <h2>Find your local pharmacy</h2>
            <p>Know where your nearest pharamcy is</p>
        </div> 
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-6 supplement"> 
        </div>
        <div class="col-6 wannajoin">
            <div class="join_text">
                <h1>Get Started</h1>
                <h3>Sign up now and get access to hundreds of pharmacies!</h3>
            </div>
            <div class="btn_transition1">
                <a class="btn1" href="{% url 'signup' %}">Sign Up</a>
            </div>
            
        </div>
    </div>

</div>


<br><br><br><br><br><br>
<br><br><br><br><br><br>
<script>
    $(document).ready(function(){
    $( "a.scrollLink" ).click(function( event ) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top }, 500);
    });
});
</script>

{% endblock %}