
/* Layout for HOMEPAGE */
#home {
    background: url('../media/landing_page.jpg') no-repeat center center fixed;
    display: table;
    min-height:  400px;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
     
}

#fixed {
    background: url(../media/frontpage.jpg) no-repeat center center fixed;
    display: table;
    min-height: 300px;
    position: relative;
    width: 100%;
    background-size: cover; 
}

/* Layout for HOMEPAGE --> three colums and their attributes */

.three-columns {
    text-align: center;
    color: white;
}

/* Layout for signup & sign in */

#form_sign_in {
    text-align: center;
}

.card {
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 500px;
}

.card-img-top {
    height: 250px;
    width: 100%;
}

.form_label {
    text-align: left;
}

.form_field {
    
}




