/* FOR MOBILE SCREENS*/

@media screen and (max-width: 450px){
    h1 {font-size: 20px;}
    p {font-size: 14px;}
    #home {
        background: url('../media/frontpage/background.svg') no-repeat left center ;
        min-height: 350px;
        padding-top: 90px;
        background-size: cover;
        color: white;
        text-align: center;
        }
    #home h1 {font-size: 7vw;}
    #home h3 {font-size: 4vw;}
    
    .mission{
        margin-top: -100px;  
    }
    .about_us_img{
        text-align: center;
        background: url('../media/about_us.svg') no-repeat center center;
        background-size: 80% 80%;
        margin-top: -20px;
    }
    
    
    .tab1 {
        background: url('../media/order_now_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        min-height: 200px;
    }
    .tab2 {
        background: url('../media/talk_to.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 200px
    }
    .tab3 {
        background: url('../media/find_pharma_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 200px
    }
    .tabs_text {
        padding-top: 20px;
        text-align: center;
        }
    .tabs_text h2 {font-size: 20px; text-align: center;}
    
    
    .wannajoin{
        background: url('../media/wannajoin.svg') no-repeat left center;
        background-size: 100% 100%;
        min-height: 30vh;
        text-align: center;
    }
    .join_text{
        text-align: center;
        padding-top: 7.5vh;
        color: white;
    }
    .join_text h1{font-size: 3vh;}
    .join_text h3{font-size: 1.5vh;}
    .supplement{
        background: url('../media/supplement.svg') no-repeat center center;
        background-size: 70% 70%;
    }
    .btn1 {
        text-align: center;
        color: mediumaquamarine;
        border-radius: 15px;
        font-size: 20px;
        background-color: white;
        
        padding: 5px 20px 5px 20px;  
    }
    
    .btn1:hover {
        color: mediumaquamarine;
        text-decoration: none;
    }
     .btn2 {
        margin-top: 6vh;
        color: mediumaquamarine;
        border-radius: 15px;
        border: 2px solid;
        border-color: #F5F5F5;
        font-size: 20px;
        background-color: white;
        padding: 15px 50px 15px 50px;  
    }
    
    .btn2:hover {
        color: mediumaquamarine;
        text-decoration: none;
    }
    .btn_transition{
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .btn_transition:hover,
    .btn_transition:focus,
    .btn_transition:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .btn_transition1{
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .btn_transition1:hover,
    .btn_transition1:focus,
    .btn_transition1:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .fields_mobile{
        border: 1px solid;
        border-color: lightgray;
        border-radius: 10px;
        padding: 5px 0 5px 0;
    }
    #sign_up_title{
        font-size: 10vw;
    }
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* EDIT PAGES*/
    
    .edit_home{
        text-align: center;
        margin-top: 5vh;
        background: url('../media/Background/mobile/eh_mobile.svg') left center no-repeat;
        min-height: 100vh;
        color: black;
    }
    .eh_block{
        margin-top: 5vh;
        min-height: 30vh;
        background-color: white;
        border: 2px solid;
        border-color: lightslategray;
        border-radius: 15px;
        text-decoration: none;
    }
    .eh_block:hover{
        background-color: lightslategray;
    }
    .eh_text{color: black;}
    .eh_text:hover{
        color: white;
        text-decoration: none !important;
    }
    .eh_lock{
        background: url('../media/accounts/edit%2520home/lock.svg') center center no-repeat;
        background-size: 60% 60%;
        min-height: 20vh; 
    }
    .eh_user{
        background: url('../media/accounts/edit%2520home/user.svg') center center no-repeat;
        background-size: 60% 60%;
        min-height: 20vh; 
    }
    .eh_sm_separator{min-height: 5vh;}
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* SEARCH PAGES*/
    #search_result{
        color: black;
        text-align: center;
        font-size: 20px;
    }
    #search_result:hover{
        text-decoration: none;
    }
    .search_card{
        border: 2px solid;
        border-color: black;
        border-radius: 15px;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
            
    }
    .search_card:hover
    .search_card:focus
    .search_card:active{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .search_phone{
        text-align: center;
        background: url('../media/Search/telephone.svg') center top no-repeat;
        background-size: 100% 100%;
    }
    .search_map{
        text-align: center;
        background: url('../media/Search/map.svg')center center no-repeat;
        background-size: 100% 100%;
        
    }
    .search-text{
        text-align: left;
        margin-top: 20px;
    }
    .search_row{margin: -5px 0 0 0}
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* PROFILE PAGE */
    
    #profile_background{
    background: url('../media/profile_page_4_Plan%20de%20travail%201.svg') no-repeat center center fixed;
    background-size: cover;
    min-height: 60vh;
    text-align: center;
    }
    
    #profile_user_tile{
        color: white;
        font-weight: bold;
        font-size: 7vw;
        text-align: center;
    }

    .profile_title {
        font-weight: bold;
        font-size: 7vw;
        text-align: center;
    }

    .profile_description {
        font-size: 5.5vw;
        text-align: left;
    }

    .profile_card_green {
        background-color: #21db87;
        color: white;
        border-radius: 15px;
        min-height: 30vh;;
        margin-top: 3vh;
        padding: 15px;
    }

    .profile_card_skin {
        background-color: #F5F5F5  ;
        border-radius: 15px;
        min-height: 30vh;;
        margin-top: 3vh;
        padding: 15px;
    }
}

/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/* FOR COMPUTER SCREENS*/


@media screen and (min-width: 450px){
    #home {
        background: url('../media/frontpage/background.svg') no-repeat left center ;
        background-size:cover;
        padding-bottom: 35vh;
        padding-top: 100px;
        background-size: none 100%;
        color: white;
        text-align: center;
        }
    #home h1 {font-size: 6vw;}
    #home h3 {font-size: 3.2vw;
    padding-bottom: 4vh;}
    
    .mission{
        margin-top: 5vh;
        font-size: 20px;   
        }
    .about_us_img{
        background: url('../media/about_us.svg') no-repeat center center;
        background-size: contain;
        margin-top: -20px;
    }
    
    .tab1{
        background: url('../media/order_now_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
        }
    .tab2 {
        background: url('../media/talk_to.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
            }
    .tab3 {
        background: url('../media/find_pharma_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
    }
    .tabs_text {
        padding-top: 20px;
        text-align: center;
        font-size: 3vw;
        }
    .tabs_text h2 {font-size: 4vw; text-align: center;}
    
    .wannajoin{
        background: url('../media/wannajoin.svg') no-repeat left center;
        background-size: 100% 100%;
        text-align: center;
        min-height: 400px;   
    }
    .join_text{
        padding-top: 50px;
        color: white;
        margin-bottom: 30px;
    }
    
    .supplement{
        background: url('../media/supplement.svg') no-repeat left center;
        background-size: 100% 100%;
    }
    .btn1 {
        color: mediumaquamarine;
        border-radius: 15px;
        font-size: 40px;
        background-color: white;
        padding: 15px 50px 15px 50px;  
    }
    
    .btn1:hover {
        color: mediumaquamarine;
        text-decoration: none;
    }
     .btn2 {
        margin-top: 6vh;
        color: mediumaquamarine;
        border-radius: 15px;
        border: 2px solid;
        border-color: #F5F5F5;
        font-size: 40px;
        background-color: white;
        padding: 15px 50px 15px 50px;  
    }
    
    .btn2:hover {
        color: mediumaquamarine;
        text-decoration: none;
    }
    .btn_transition{
        margin-top: -22vh;
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .btn_transition:hover,
    .btn_transition:focus,
    .btn_transition:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .btn_transition1{
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .btn_transition1:hover,
    .btn_transition1:focus,
    .btn_transition1:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* SEARCH PAGES*/
    #search_result{
        color: black;
        text-align: center;
        font-size: 20px;
    }
    #search_result:hover{
        text-decoration: none;
    }
    .search_card{
        border: 2px solid;
        border-color: black;
        border-radius: 15px;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
            
    }
    .search_card:hover,
    .search_card:focus,
    .search_card:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
    }
    .search_phone{
        text-align: center;
        background: url('../media/Search/telephone.svg') center top no-repeat;
        background-size: 100% 100%;
    }
    .search_map{
        text-align: center;
        background: url('../media/Search/map.svg')center center no-repeat;
        background-size: 100% 100%;
        
    }
    .search-text{
        text-align: left;
        margin-top: 20px;
    }
    .search_row{margin: -5px 0 0 0}
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* PHARMACY PAGES*/
    .background_pharmacy{
        margin-top: -10px;
        background: url('../media/Background/profile_bg.svg') center center no-repeat;
        background-size: 100% 100%;
        min-width: 100vw;
        min-height: 40vh;
        color: white;
        padding-top: 10vh;
        text-align: center;
    }
    #profile_email{
        background: url('../media/Pharmacy/profile/email.svg') left center no-repeat;
        background-size: 100% 100%;
        min-height: 10vh;
    }
    #profile_phone{
        background: url('../media/Pharmacy/profile/telephone.svg') left center no-repeat;
        background-size: 100% 100%;
        min-height: 10vh;
    }
    #profile_address{
        background: url('../media/Pharmacy/profile/map.svg') left center no-repeat;
        background-size: 100% 100%;
        min-height: 10vh;
    }
    .pharma_profile{
        margin-top: 5vh;
        text-align: center;
        border: 1px solid;
        border-color: #C0C0C0;
        border-radius: 15px;
        padding-bottom: 2vh; 
    }
    #btn_pharma{
        border: 1px solid;
        border-color: #C0C0C0;
        border-radius: 30px;
        font-size: 20px;
        padding: 3px 10px 3px 10px;
        color: white;
        background-color: darkcyan;       
    }
    #btn_pharma{
        text-decoration: none;
        color: white;
        background-color: darkcyan;   
    }
    .btn_transition_pharma{
        text-align: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .btn_transition_pharma:hover,
    .btn_transition_pharma:focus,
    .btn_transition_pharma:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    /*--------------------------------------------*/
    /*--------------------------------------------*/
    /* PROFILE PAGE */
    #profile_background{
    background: url('../media/profile_page_4_Plan%20de%20travail%201.svg') no-repeat center center fixed;
    background-size: cover;
    min-height: 60vh;
    text-align: center;
    } 
    
    #profile_user_tile{
        color: white;
        font-weight: bold;
        font-size: 3vw;
        text-align: center;
    }

    .profile_title {
        font-weight: bold;
        font-size: 3vw;
        text-align: center;
    }

    .profile_description {
        font-size: 2vw;
        text-align: left;
    }

    .profile_card_green {
        background-color: #21db87;
        color: white;
        border-radius: 10px;
        min-height: 250px;
        margin-top: 15px;
        padding: 30px;
    }

    .profile_card_skin {
        background-color: #F5F5F5  ;
        border-radius: 10px;
        margin-top: 15px;
        min-height: 250px;
        padding: 30px;
    }

    
    

}






/* PROFILE PAGE */



/* LOGIN PAGE */

#login_background{
    min-height: 100vh;
    background: url('../media/Background/login.jpg');
    background-attachment: fixed;
    background-size: cover;      
}

.login_card {
    background-color: white;
    border-radius: 10px;
    margin-top: 20vh;
    min-height: 250px;
    padding: 30px;
}

/* SIGNUP PAGE */

#signup_background{
    height: 100%;
    background: url('../media/Background/signup_background.jpg');
    background-attachment: fixed;
    background-size: cover;      
}

.signup_card {
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
    min-height: 250px;
    padding: 30px;
}

/* EDIT PROFILE PAGE */
#edit_background {
    height: 100%;
    background: url('../media/Background/edit_profile.jpg');
    background-attachment: fixed;
    background-size: cover;           
}

/* MAPBOX */

.marker {
  background-image: url('../media/mapbox/logo_mb.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


    









