/* FOR MOBILE SCREENS*/

@media screen and (max-width: 450px){
    h1 {font-size: 20px;}
    p {font-size: 14px;}
    #home {
        background: url('../media/frontpage/background.svg') no-repeat left center ;
        min-height: 350px;
        padding-top: 90px;
        background-size: cover;
        color: white;
        text-align: center;
        }
    #home h1 {font-size: 7vw;}
    #home h3 {font-size: 4vw;}
    
    .mission{
        margin-top: -100px;  
    }
    .about_us_img{
        text-align: center;
        background: url('../media/about_us.svg') no-repeat center center;
        background-size: 80% 80%;
        margin-top: -20px;
    }
    
    
    .tab1 {
        background: url('../media/order_now_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        min-height: 200px;
    }
    .tab2 {
        background: url('../media/talk_to.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 200px
    }
    .tab3 {
        background: url('../media/find_pharma_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 200px
    }
    .tabs_text {
        padding-top: 20px;
        text-align: center;
        }
    .tabs_text h2 {font-size: 20px; text-align: center;}
    
    
    .wannajoin{
        background: url('../media/wannajoin.svg') no-repeat left center;
        background-size: 100% 100%;
        min-height: 200px;
        text-align: center;
    }
    .join_text{
        text-align: center;
        padding-top: 40px;
        color: white;
    }
    .join_text h1{font-size: 3vh;}
    .join_text h3{font-size: 1.5vh;}
    .supplement{
        background: url('../media/supplement.svg') no-repeat center center;
        background-size: 80% 80%;
    }
    .btn1 {
        color: mediumaquamarine;
        border-radius: 15px;
        font-size: 18px;
        background-color: white;
        padding: 8px 20px 8px 20px
    }
    .btn1:hover {
        color: black;
        border-radius: 15px;
        border-color: black;
        border: 2px solid;
        text-decoration: none;
        font-size: 14px;
        background-color: white;
        padding: 10px 20px 10px 20px;
    }
     /*--------------------------------------------*/
    /* EDIT PAGES*/
    
    .edit_home{
        text-align: center;
        margin-top: 5vh;
        background: url('../media/Background/mobile/eh_mobile.svg') left center no-repeat;
        min-height: 100vh;
        color: black;
    }
    .eh_block{
        margin-top: 5vh;
        min-height: 30vh;
        background-color: white;
        border: 2px solid;
        border-color: lightslategray;
        border-radius: 15px;
        text-decoration: none;
    }
    .eh_block:hover{
        background-color: lightslategray;
    }
    .eh_text{color: black;}
    .eh_text:hover{
        color: white;
        text-decoration: none !important;
    }
    .eh_lock{
        background: url('../media/accounts/edit%2520home/lock.svg') center center no-repeat;
        background-size: 60% 60%;
        min-height: 20vh; 
    }
    .eh_user{
        background: url('../media/accounts/edit%2520home/user.svg') center center no-repeat;
        background-size: 60% 60%;
        min-height: 20vh; 
    }
    .eh_sm_separator{min-height: 5vh;}
}

/*-------------------------------------------------------------------------------------------------*/
/* FOR COMPUTER SCREENS*/


@media screen and (min-width: 450px){
    #home {
        background: url('../media/frontpage/background.svg') no-repeat left center ;
        background-size:cover;
        padding-bottom: 200px;
        padding-top: 100px;
        background-size: none 100%;
        color: white;
        text-align: center;
        }
    #home h1 {font-size: 6vw;}
    #home h3 {font-size: 3.2vw;}
    
    .mission{
        font-size: 20px;   
        }
    .about_us_img{
        background: url('../media/about_us.svg') no-repeat center center;
        background-size: contain;
        margin-top: -20px;
    }
    
    .tab1{
        background: url('../media/order_now_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
        }
    .tab2 {
        background: url('../media/talk_to.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
            }
    .tab3 {
        background: url('../media/find_pharma_Plan%20de%20travail%201.svg') no-repeat center center fixed;
        background-size: contain;
        min-height: 45vh
    }
    .tabs_text {
        padding-top: 20px;
        text-align: center;
        font-size: 3vw;
        }
    .tabs_text h2 {font-size: 4vw; text-align: center;}
    
    .wannajoin{
        background: url('../media/wannajoin.svg') no-repeat left center;
        background-size: 100% 100%;
        text-align: center;
        min-height: 400px;   
    }
    .join_text{
        padding-top: 50px;
        color: white;
        margin-bottom: 30px;
    }
    
    .supplement{
        background: url('../media/supplement.svg') no-repeat left center;
        background-size: 100% 100%;
    }
    .btn1 {
        color: mediumaquamarine;
        border-radius: 15px;
        font-size: 40px;
        background-color: white;
        padding: 15px 50px 15px 50px;
    }
    .btn1:hover {
        color: white;
        text-decoration: none;
        background-color: lightslategray;
    }
    
    /*--------------------------------------------*/
    /* EDIT PAGES*/
    
    .edit_home{
        text-align: center;
        margin-top: 20vh;
        background: url('../media/Background/edit_home.svg') center center no-repeat;
        min-height: 80vh;
        color: black;
    }
    .eh_block{
        min-height: 50vh;
        background-color: white;
        border: 2px solid;
        border-color: lightslategray;
        border-radius: 15px;
        text-decoration: none;
    }
    .eh_block:hover{
        background-color: lightslategray;
    }
    .eh_text{color: black;}
    .eh_text:hover{
        color: white;
        text-decoration: none !important;
    }
    .eh_lock{
        background: url('../media/accounts/edit%2520home/lock.svg') center center no-repeat;
        background-size: 80% 80%;
        min-height: 50vh; 
    }
    .eh_user{
        background: url('../media/accounts/edit%2520home/user.svg') center center no-repeat;
        background-size: 80% 80%;
        min-height: 50vh; 
    }
    /*--------------------------------------------*/
    /* EDIT PAGES*/
    #search_result{
        color: black;
        text-align: center;
        font-size: 1.3vw;
    }
    #search_result:hover{
        text-decoration: none;
    }
    .search_card{
        border: 2px solid;
        border-color: black;
        border-radius: 15px;
        padding-top: 5px 
    }
    .search_card:hover{
        background-color: lightgray;
        color: white;
    }
    .search_phone{
        text-align: center;
        background: url('../media/Search/telephone.svg') center top no-repeat;
        background-size: 100% 100%;
    }
    .search_map{
        text-align: center;
        background: url('../media/Search/map.svg')center center no-repeat;
        background-size: 100% 100%;
        
    }
    .search-text{
        text-align: left;
        margin-top: 20px;
    }
    .search_row{margin: -5px 0 0px 0}
}






/* PROFILE PAGE */

#profile_background{
    background: url('../media/profile_page_4_Plan%20de%20travail%201.svg') no-repeat center center fixed;
    background-size: cover;
    min-height: 550px;
    text-align: center;
}

.profile_title {
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
}

.profile_description {
    font-size: 20pt;
    text-align: left;
}

.profile_card_green {
    background-color: #21db87;
    color: white;
    border-radius: 10px;
    min-height: 250px;
    margin-top: 15px;
    padding: 30px;
}

.profile_card_skin {
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    min-height: 250px;
    padding: 30px;
}

/* LOGIN PAGE */

#login_background{
    min-height: 100vh;
    background: url('../media/Background/login.jpg');
    background-attachment: fixed;
    background-size: cover;      
}

.login_card {
    background-color: white;
    border-radius: 10px;
    margin-top: 20vh;
    min-height: 250px;
    padding: 30px;
}

/* SIGNUP PAGE */

#signup_background{
    height: 100%;
    background: url('../media/Background/signup_background.jpg');
    background-attachment: fixed;
    background-size: cover;      
}

.signup_card {
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
    min-height: 250px;
    padding: 30px;
}

/* EDIT PROFILE PAGE */
#edit_background {
    height: 100%;
    background: url('../media/Background/edit_profile.jpg');
    background-attachment: fixed;
    background-size: cover;           
}

/* MAPBOX */

.marker {
  background-image: url('../media/mapbox/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


    









